:root {
    --main-color: #1F1F1F;
    --text-color: #545454;
    --main-font-weight: 600;
    --section-padding: 80px;
    --large-gap: 32px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
    /* background-color: #eee; */
}

/* starting components */
.btn {
    background-color: var(--main-color);
    color: white;
    font-weight: var(--main-font-weight);
}

.title {
    font-size: 2.75rem;
    font-weight: var(--main-font-weight);
    color: var(--main-color);
    text-transform: capitalize;
}

@media (max-width: 767px) {
    .title {
        font-size: 2.25rem;
        text-align: center;
    }
}

@media (max-width: 399px) {
    .title {
        font-size: 2rem;
    }
}

/* ending components */


/* starting header style */

.navbar .container-xl .btn {
    height: 60px;
}

.navbar .container-xl .navbar-nav .nav-item .nav-link {
    color: var(--text-color);
    font-weight: var(--main-font-weight);
}

.navbar .container-xl .navbar-nav .nav-item .nav-link:hover,
.navbar .container-xl .navbar-nav .nav-link.active {
    color: var(--main-color);
}

.navbar .container-xl .btn-lg {
    padding: 0 38px;
}

@media (max-width: 991px) {
    .navbar .container-xl .btn {
        height: 40px;
        font-size: 1.125rem;
    }

    .navbar .container-xl .btn-lg {
        padding: 0 20px;
    }
}

/* ending header style*/

/* starting home section */
.home {
    padding: var(--section-padding) 0;
}

/* box-1 */

.home .container-xl .box-1 .text {
    font-weight: 500;
}

.home .container-xl .box-1 .text h1 {
    font-size: 6.5rem;
    color: var(--main-color);
    margin-bottom: 30px;
}

.home .container-xl .box-1 .text p {
    color: var(--text-color);
    font-size: 1.25rem;
    width: 470px;
    line-height: 2.25rem;
}

.home .container-xl .box-1 .image {
    width: 420px;
}


@media (max-width: 991px) {
    .home .container-xl .box-1 .image {
        display: none;
    }

    .home .container-xl .box-1 .text p {
        width: 80%;
    }
}

@media (max-width: 767px) {
    .home .container-xl .box-1 .text h1 {
        font-size: 3.5rem;
        text-align: center;
    }

    .home .container-xl .box-1 .text p {
        width: 100%;
        text-align: center;
    }

}

@media (max-width: 399px) {
    .home .container-xl .box-1 .text h1 {
        font-size: 3rem;
    }
}

/* box-2 */
.home .container-xl .box-2 {
    margin-top: 50px;
}

@media (max-width: 991px) {
    .home .container-xl .box-2 {
        margin-top: 100px;
    }
}

.home .container-xl .box-2 .text .btn {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 90px;
}

@media (max-width: 991px) {
    .home .container-xl .box-2 .text .btn {
        margin-bottom: 70px;
    }
}

@media (max-width: 767px) {
    .home .container-xl .box-2 .text {
        text-align: center;
        margin: auto;
    }
}

.home .container-xl .box-2 .text .counter {
    gap: 25px;
}

@media (max-width: 399px) {
    .home .container-xl .box-2 .text .counter {
        gap: 15px;
    }
}

.home .container-xl .box-2 .text .counter .item span {
    display: block;
    text-align: center;
    color: var(--text-color);
}

.home .container-xl .box-2 .text .counter .item span:first-child {
    font-size: 45px;
}

.home .container-xl .box-2 .text .counter .item span:last-child {
    font-size: 19px;
}

@media (max-width: 767px) {
    .home .container-xl .box-2 .text .counter .item span:first-child {
        font-size: 40px;
    }

    .home .container-xl .box-2 .text .counter .item span:last-child {
        font-size: 15px;
    }
}

.home .container-xl .box-2 .image {
    padding-right: 30px;
    height: 270px;
    position: relative;
}

.home .container-xl .box-2 .image img {
    height: 100%;
}

.home .container-xl .box-2 .image::before {
    content: '';
    position: absolute;
    left: -20px;
    top: -20px;
    z-index: -1;
    width: 100px;
    height: 100px;
    border: 2px solid var(--main-color);
}

@media (max-width: 991px) {
    .home .container-xl .box-2 .image {
        display: none;
    }
}

.home .container-xl .toBottom {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 100;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 45px;
    border-radius: 2px;
    padding: 0;
}

@media (max-width: 767px) {
    .home .container-xl .toBottom {
        width: 65px;
        height: 65px;
        line-height: 65px;
        font-size: 35px;
    }
}

/* ending home section */

/* starting services section */

.services {
    padding: var(--section-padding) 0;
}

.services .container-xl h2 {
    position: relative;
    padding-left: 115px;
}

.services .container-xl h2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 90px;
    height: 3px;
    background-color: var(--main-color);
}

@media (max-width: 767px) {
    .services .container-xl h2 {
        text-align: center;
        padding-left: 0;
    }

    .services .container-xl h2::before {
        display: none;
    }
}

/* ??? */
.services .container-xl .content {
    margin-top: 60px;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 32px;
    /* ???? */
    /* width: 99.5%; */
    /* margin: 60px auto 0; */
}

@media (max-width: 767px) {
    .services .container-xl .content {
        grid-template-columns: repeat(1, 1fr);
    }
}

.services .container-xl .content .item {
    width: 100%;
    display: flex;
    gap: 15px;
}

@media (max-width: 767px) {
    .services .container-xl .content .item {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
}

.services .container-xl .content .item .image img {
    width: 60px;
}

@media (max-width: 767px) {
    .services .container-xl .content .item .image img {
        width: 50px;
    }
}

.services .container-xl .content .item .text h3 {
    color: var(--main-color);
    font-weight: var(--main-font-weight);
    font-size: 1.75rem;
}

.services .container-xl .content .item .text p {
    color: var(--text-color);
    font-size: 1.125rem;
    margin-top: 20px;
}

/* starting services section */

/* starting brilliance section */

.brilliance {
    padding: var(--section-padding) 0;
}

.brilliance .container-xl .content {
    gap: 50px;
}

.brilliance .container-xl .image {
    width: 50%;
}

@media (max-width: 991px) {
    .brilliance .container-xl .image {
        display: none;
    }
}

.brilliance .container-xl .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

@media (max-width: 991px) {
    .brilliance .container-xl .text {
        width: 100%;
        gap: 30px;
    }
}

.brilliance .container-xl .text p {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 500;
}

.brilliance .container-xl .text>div {
    color: var(--main-color);
    font-size: 22px;
    font-weight: var(--main-font-weight);
    padding-bottom: 20px;
    border-bottom: 1px solid #DADADA;

}

.brilliance .container-xl .text button {
    width: fit-content;
    padding: 8px 50px;
}

@media (max-width: 767px) {
    .brilliance .container-xl p {
        text-align: center;
    }

    .brilliance .container-xl .text p,
    .brilliance .container-xl .text>div {
        font-size: 18px;
    }

    .brilliance .container-xl .text button {
        margin: auto;
        width: 100%;
    }
}

/* ending brilliance section */

/* starting steps section */

.steps {
    padding: var(--section-padding) 0;
}

.steps .container-xl .content {
    display: flex;
    gap: 50px;
}

.steps .container-xl .content .text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

@media (max-width: 991px) {
    .steps .container-xl .content .text {
        width: 100%;
        gap: 60px;
    }
}

.steps .container-xl .content .item {
    position: relative;
    padding-left: 50px;
}

@media (max-width: 767px) {
    .steps .container-xl .content .item {
        padding-left: 0;
        padding-top: 50px;
        text-align: center;
    }
}

.steps .container-xl .content .item i {
    position: absolute;
    top: -15px;
    left: -15px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: var(--main-color);
    font-size: 22px;
    color: white;
    text-align: center;
}

@media (max-width: 767px) {
    .steps .container-xl .content .item i {
        left: 50%;
        transform: translateX(-50%);
    }
}

.steps .container-xl .content .item h3 {
    color: var(--main-color);
    font-size: 28px;
    font-weight: bold;
}

.steps .container-xl .content .item p {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px;
    position: relative;
}

@media (max-width:399px) {
    .steps .container-xl .content .item p {
        font-size: 20px;
    }
}

.steps .container-xl .content .item:not(:last-child) p::before {
    content: '';
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
    height: 75%;
    width: 1px;
    background-color: #9B9B9B;
}

@media (max-width: 767px) {
    .steps .container-xl .content .item:not(:last-child) p::before {
        display: none;
    }
}

.steps .container-xl .content .image {
    width: 50%;
}

.steps .container-xl .content .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 991px) {
    .steps .container-xl .content .image {
        display: none;
    }
}

/* ending steps section */

/* starting customers section */

.customers {
    padding: var(--section-padding) 0;
}

.customers .container-xl .content {
    display: flex;
    gap: 50px;
    position: relative;
}

@media (max-width: 991px) {
    .customers .container-xl .content {
        flex-direction: column;
        gap: 40px;
    }
}

.customers .container-xl .content .image {
    width: 50%;
    position: relative;
    height: 90vh;
}

.customers .container-xl .content .image img {
    width: 100%;
    height: 85%;
    object-fit: cover;
}

@media (max-width: 991px) {
    .customers .container-xl .content .image {
        display: none;
    }
}

.customers .container-xl .content .text {
    width: 50%;
}

@media (max-width: 991px) {
    .customers .container-xl .content .text {
        width: 100%;
    }
}

.customers .container-xl .content .box {
    padding-top: 25px;
    padding-left: 25px;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 25px;
    width: 83%;
    height: 80%;
}

.customers .container-xl .content .box .item {
    padding: 35px;
    background-color: var(--main-color);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    max-height: 100%;
    width: 50%;
}

@media (max-width: 991px) {
    .customers .container-xl .content .box {
        position: relative;
        width: 100%;
        padding: 0;
    }

    .customers .container-xl .content .box .item {
        padding: 25px;
    }
}

@media (max-width: 767px) {
    .customers .container-xl .content .box {
        flex-direction: column;
    }

    .customers .container-xl .content .box .item {
        width: 100%;
        text-align: center;
    }

    .customers .container-xl .content .box .item:nth-child(2) {
        display: none;
    }
}

.customers .container-xl .content .box .item i {
    font-size: 60px;
}

.customers .container-xl .content .box .item i+p {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.9;
}

@media (max-width: 399px) {
    .customers .container-xl .content .box .item i+p {
        font-size: 18px;
    }
}

.customers .container-xl .content .box .item .info {
    display: flex;
    gap: 20px;
}

@media (max-width: 767px) {
    .customers .container-xl .content .box .item .info {
        margin: auto;
        flex-direction: column;
        align-items: center;
    }
}

.customers .container-xl .content .box .item .info .sub-info p:first-child {
    font-size: 22px;
    font-weight: var(--main-font-weight);
}

.customers .container-xl .content .box .item .info .sub-info p:last-child {
    font-size: 18px;
    font-weight: 500;
    color: #929292;
}

.customers .container-xl .content .icons {
    width: fit-content;
    position: absolute;
    bottom: 0;
    left: 0;
}

.customers .container-xl .content .icons i {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #F1F1F1;
    color: #464646;
    font-size: 28px;
    cursor: pointer;
}

.customers .container-xl .content .icons i:first-child {
    margin-right: 20px;
}

@media (max-width: 991px) {
    .customers .container-xl .content .icons {
        position: relative;
        margin: auto;
    }
}

/* ending customers section */